/* by Jamal Hassouni*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', sans-serif !important; */
}
section.Cards {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* padding: 40px 0; */
  margin: 0 auto;
  flex: 1 0 100%;
}

.Cards .container {
  overflow: visible;
  width: 100% !important;
  margin: 0;
  padding: 1em 1em;
}

.Cards > .container-fluid{
  padding-bottom: 2em;
}

.card {
  position: relative;
  max-width: 250px;
  height: auto;
  background: linear-gradient(-45deg, #fe0847, #feae3f);
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}
.card:hover,
.card.selected {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fa {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
}
.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa {
  background: linear-gradient(-45deg, #ffec61, #f40033);
}
.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa {
  background: linear-gradient(-45deg, #ffec61, #f321d7);
}
.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  -webkit-transform: skewY(-5deg) scale(1);
  transform: skewY(-5deg) scale(1);
}
.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}
.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}
.price,
.option {
  position: relative;
  z-index: 2;
}
.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 50px;
}
.option ul {
  margin: 0;
  padding: 0;
}
.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}
.card a:not(.external):not(.load-data),
.card .checkbox,
.checkbox {
  position: relative;
  z-index: 2;
  background: #fff;
  color: black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border: 2px solid #fff;
}
.card a:not(.external):not(.load-data):hover {
  text-decoration: none;
}

.card:hover a:not(.external):not(.load-data),
.card:active a:not(.external):not(.load-data),
.card.key-pressed a:not(.external):not(.load-data),
.card.selected a:not(.external):not(.load-data),
.card:hover .checkbox,
.card:active .checkbox,
.card.key-pressed .checkbox,
.card.selected .checkbox {
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.checkbox:hover {
  cursor: pointer;
  background-color: #fff;
}

/* Codepen nourabusoud */
.card:active,
.card.key-pressed {
  transform: scale(0.9);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.card:active .title .fa,
.card.key-pressed .title .fa {
  color: #c7c7c7;
  transition: 0.5s ease-in-out;
}

.user {
  margin: 0 auto 1em auto;
  font-size: 2em;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.user i{
  color: #7289da;
}

.user span {
  margin-left: 0.5em;
  color: #fff;
}
