.Carousel {
    display: flex;
}

.Carousel .carousel-content {
    display: flex;
}

.Carousel > .container {
    width: 100% !important;
    margin: 0;
    padding: 0;
}

.Carousel .arrow {
    margin: auto 0;
    font-size: 3em;
    color: rgba(254, 254, 254, 0.9);
    cursor: pointer;
}